body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    color: #E5E7EB;
    gap: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.left,
.right {
    flex: 1;
}



.quotesection {
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

h1 {
    font-size: 48px;
}

h2  {
    font-size: 36px;
    text-align: center;
}

.extra-bold {
    font-weight: 800;
}

.bold {
    font-weight: 600;
}

button,
.CTA    {
    background-color: #3882F6;
    color: white;
    border-style: none;
}

.card {
    border-color: #3882F6;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    width: 150px;
    height: 150px;
}

.image {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.allcards {
    display: flex;
    flex-wrap: 1;
    gap: 30px;
    text-align: center;
}
